*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
  
  background-color: #F6F8FA;
}
.page1{
    
    background-color: rgba(255, 255, 255, 0);
    max-width: 1400px;
    margin: 0 auto;
    box-shadow:1px 1px 4px 1px rgba(0, 0, 0, 0.163);
    border-radius: 20px;
    border: 2px solid white;
    margin-top: 40px;
    padding: 10px;
}

/* -------------------down arrow(Product and Resource)------------------------- */

/* -------------------down arrow(Product)------------------------- */
.Product-item{
    position: relative;
}
.dropdown-toggle {
    margin: -3px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .arrow {
    margin-left: 5px;
    transition: transform 0.5s ease;
  }
  .dropdown-menu {
    position: absolute;
    top: 40px;
    width: 150px;
    left: 0;
    background-color: #2b2b3a;
    border-radius: 5px;
    padding: 12px;
    margin: 10px;
    display: none;
    flex-direction: column;
  }
  .dropdown-item {
    color: white;
    cursor: pointer;
  }
  .dropdown-item:hover {
    background-color: #38384f;
    width: 100%;
  }

  /* -------------------down arrow( Resource)------------------------- */
.Resource-item{
    position: relative;
    
}
.dropdown2-toggle {
    margin: -3px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .arrow2 {
    margin-left: 5px;
    transition: transform 0.5s ease;
  }
  .dropdown-menu2 {
    position: absolute;
    top: 40px;
    width: 150px;
    left: 0;
    background-color: #2b2b3a;
    border-radius: 5px;
    padding: 10px;
    margin: 12px;
    display: none;
    flex-direction: column;
  }
  .dropdown-item2 {
    color: white;
    cursor: pointer;
  }
  .dropdown-item2:hover {
    background-color: #38384f;
    width: 100%;
  }

  /*----------------------*/
  .navigation{
    max-width: 750px;
    margin: 0 auto;
  }
  nav{
    height: 60px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -40px;
  }
  .blue_logo{
    background: blue;
    height: 40px;
    width: 40px;
    border-radius: 13px;
   
  }

  .nav_button{
    height: 40px;
    width: 120px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 15px;
 position: relative;
 z-index: 0;
 cursor: pointer;

   
}
.nav_button::after{
  content: '';
  background-color: rgb(71, 71, 255);
  height: 100%;
  width: 0;
  border-radius: 15px;
  position: absolute;
  left: 1%;
  top: 0;
  z-index: -1;
  transition: 150ms ease-in-out;
  transition: 1s;
}
.nav_button:hover::after{
  width: 100%;
}
.nav_button:hover{
color: white;
}



  .link-containers{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: white;
  }
  #sidebar-active-button{
    display: none;
  }
  .open-sidebar, .close-sidebar{
    display: none;
  }


/*------------------------------*/
  @media (max-width: 900px){

.link-containers{
   
   flex-direction: column;
   align-items: center;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 350px;
    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 1s;
 }
nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: center;
}
.open-sidebar, .close-sidebar{
    display: block;
    padding: 20px;
  }
  #sidebar-active-button:checked ~ .link-containers{
   right: 0;
  }

  }



  /*---------------home-page---------------*/
  .home{
    margin-top: 70px;
 }
 .home-title{
     max-width: 1000px;
     margin: 0 auto;
     text-align: center;
     font-size: 78px;
 }
 .home-body {
     max-width: 680px;
     margin: 0 auto;
     padding: 20px;
     text-align: center;
 }
 .home-body p{
 margin: 20px;
 font-size:20px ;
 color: gray;
 }
 
 
 .home-btns{
     height: 60px;
     width: 190px;
     background-color: black;
     color: white;
     font-size: larger;
     font-weight: bold;
     border-radius: 15px;
  position: relative;
  z-index: 0;
  cursor: pointer;
 
    
 }
 .home-btns::after{
   content: '';
   background-color: rgb(71, 71, 255);
   height: 100%;
   width: 0;
   border-radius: 15px;
   position: absolute;
   left: 1.5%;
   top: 0;
   z-index: -1;
   transition: 150ms ease-in-out;
   transition: 1s;
 }
 .home-btns:hover::after{
   width: 100%;
 }
 .home-btns:hover{
 color: white;
 }
   /*---------------home-page****responsivepage---------------*/
/*----------------------450px------------*/
@media (max-width: 450px){
    .page1{
        max-width: 400px;
    }
    nav{
        height: 40px;
    }
.navigation{
    max-width: 350px;
}
.home-title{
    font-size: 38px;
}
.home-body {
    max-width: 380px;
    padding: 10px;
}
.home-body p{
margin: 20px;
font-size:12px ;
}
.home-btns{
    height: 30px;
    width: 140px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;

}

}

/*----------------------620px------------*/
@media (max-width: 620px){
    .page1{
        max-width: 500px;
    }
    nav{
        height: 50px;
    }
.navigation{
    max-width: 450px;
}
.home-title{
    font-size: 43px;
}
.home-body {
    max-width: 400px;
    padding: 12px;
}
.home-body p{
margin: 20px;
font-size:15px ;
}
.home-btns{
    height: 40px;
    width: 140px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;

}

}

/*----------------------820px------------*/
@media (max-width: 820px){
    .page1{
        max-width: 750px;
    }
    nav{
        height: 55px;
    }
.navigation{
    max-width: 650px;
}
.home-title{
    font-size: 56px;
}
.home-body {
    max-width: 650px;
    padding: 15px;
}
.home-body p{
margin: 20px;
font-size:18px ;
}
.home-btns{
    height: 50px;
    width: 160px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 12px;

}

}

/*----------------------1100px------------*/
@media (max-width: 1100px){
    .page1{
        max-width: 950px;
    }
    nav{
        height: 58px;
    }
.navigation{
    max-width: 750px;
}
.home-title{
    font-size: 60px;
}
.home-body {
    max-width: 850px;
    padding: 15px;
}
.home-body p{
margin: 20px;
font-size:20px ;
}
.home-btns{
    height: 50px;
    width: 160px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 12px;

}

}

/*---------------------content-image-----------------*/
.image-container{
    margin: 20px;
    text-align: center;
  }
  img{
   border-radius: 40px;
  }
  .image-box2{
    margin-top: -460px;
    transition: 0.5s;
  }
  .image-box3{
    margin-top: -560px;
    transition: 0.5s;
  }
  
  
  .image-box2:hover{
    margin-top: -300px;
  }
  .image-box3:hover{
    margin-top: -360px;
  }

     /*---------------home-page****responsivepage---------------*/
/*----------------------1100px------------*/
@media (max-width: 1100px){
    .image-all img{
        width: 300px;
        height: 200px;
        border-radius: 20px;
      }
      .image-box2{
        margin-top: -170px;
        transition: 0.5s;
      }
      .image-box3{
        margin-top: -170px;
        transition: 0.5s;
      }
      
      
      .image-box2:hover{
        margin-top: -60px;
      }
      .image-box3:hover{
        margin-top: -60px;
      }
}

/*--------------page-2-body-1------------------------*/
.page2-container{
  max-width: 1200px;
  margin: 0 auto;
  
}
.page2-title p{
  margin-top: 40px;
  margin-bottom: 30px;
  width: 900px;
  padding: 10px;
  font-size: 48px;
}
.page2-title span img{
  border-radius: 10px;
}
.page2-body1{
  display: flex;
  gap: 20px;
  line-height: 1.2;
  margin: 10px;
}
.page2-info{
  margin: 10px;
}
.page2-info p{
  color: #AFAFAF;
}

     /*---------------page-2****responsivepage---------------*/
/*----------------------1300px------------*/
@media (max-width: 1300px){
  .page2-title p{
    width: auto;
    font-size: 37px;
  }
  .page2-title span img{
    height: 30px;
    width: 30px;
    border-radius: 6px;
  }
  .page2-body1{
    flex-direction: column;

  }
}
/*--------------page-2-body-2------------------------*/
.page2-body2{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 50px;
  line-height: 1;
}

.card-header .icon {
  width: 50px;
  height: 30px;
  background-color: #dce7ff;
  border-radius: 8px;
  margin-bottom: 15px;
}
.body2-img1{
width: 700px;
background: #fff;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
overflow: hidden;
padding: 20px;
line-height: 1;
}
.body2-img2{
  width: 700px;
background: #fff;
border-radius: 12px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
overflow: hidden;
padding: 20px;
}
.icon1{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.707);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.484);
  position: sticky;
  top: 0;
  right: 0;
}
.icon1 img{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2px;
  transition: .3s;
}
.icon1 img:hover{
  rotate: 45deg;
  background-color: red;
}

.all-icon{
  display: flex;
  justify-content: space-between;
}
     /*---------------page-2 body-2****responsivepage---------------*/
/*----------------------1300px------------*/
@media (max-width: 1300px){
 .page2-body2{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
    justify-content: center;
    text-align: center;
    line-height: 1;
  }
   /* 
  img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
  }
  */
  .body2-img1{
    width: 400px;
  }
  .body2-img2{
    width: 400px;
  } 
}

/*---------------page3------------------*/
.page3{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.page3-body{
  display: flex;
}
.page3-box{
  margin: 10px;
  margin-top: 30px;
  max-width: 280px;
  height: 380px;
  padding: 20px;
  background-color: #F6F8FA;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.484);
  transition: 1s;
  
}
.page3-box:hover{
  background-color: black;
  color: white;
}

.page3-box hr{
  margin-top: 100px;
}

.page3-box h1{
  font-size: 20px;
  margin-bottom: 10px;
  color: #303030;
}
.page3-box p{
  margin-top: 20px;
  color: #8F8F8F;
}
.page3-box button{
  margin-top: 20px;
  padding: 2px;
  color: #696969;
  box-shadow: #0000001A;
}
/*---------------page3---responsive---------------*/
@media (max-width: 1350px){
  .page3-body{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
  }
  .page3-title{
    margin-left: 40px;
  }
}

/*------------------body3----------*/
.body3-img1{
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  line-height: 1;
  text-align: center;
  }


  /*---------------------------*/
  .final-container{
    max-width: 1200px;
    margin: 0 auto;
  }